.footer{
    display: grid;
    text-align: center;
    grid-template-columns: repeat(4,1fr);
     padding: 10px;
     grid-column-gap: 20px;
     background-color:black;
     opacity: 0.9;
     color: white;
     position: relative;
     top: 66px;
  }

  

 

  
@media screen and (max-width: 1240px){
    .footer{
        grid-template-columns: repeat(2, 1fr);
    }
  }

  @media screen and (max-width: 767px){
    .footer{
        grid-template-columns: repeat(2, 1fr);
    }
  }

  @media screen and (max-width: 550px){
    .footer{
        grid-template-columns: 1fr;
    }
  }



